#registerAssitantModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Registro de un nuevo participante')
  .modal-dialog(role='document',ng-controller='registerAssistant')
    form.modal-content(ng-submit='registerAssistantSubmit()')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Registrar Participante
      .modal-body
          .form-group
            label(for='dni') DNI
            input.form-control(type='text', name='dni', placeholder='Ingresar DNI',required,ng-model='assistantData.dni',style='text-transform: uppercase')
            small.form-text.text-muted En caso de no tener dni, llenar con algún otro número de identificación
          .form-group
            label(for='firstname') Nombres
            input.form-control(type='text', placeholder='Ingresar Nombres',name='firstname',required,ng-model='assistantData.firstname',style='text-transform: uppercase')
          .form-group
            label(for='lastname') Apellidos
            input.form-control(type='text', placeholder='Ingresar Apellidos',name='lastname',required,ng-model='assistantData.lastname',style='text-transform: uppercase')
          .form-group
              label(for='type') Seleccionar condición del participante
              select.form-control(name='type',ng-model='assistantData.type',ng-options="opt for opt in options",required)
          .form-group
                label(for='university') Universidad / Centro Laboral
                input.form-control(type='text', placeholder='Nombre de la Universidad de Procedencia',name='university',ng-model='assistantData.university',style='text-transform: uppercase')
                small.form-text.text-muted Llenar en caso de ser estudiante de otra universidad o profesional
          .form-group
            label(for='year') Año Académico
            input.form-control(type='number', placeholder='Ingresar Nombres',name='year',ng-model='assistantData.year',min=1,max=5)
            small.form-text.text-muted Llenar en caso de ser estudiante
      .modal-footer
        button.btn.btn-danger(type='button', data-dismiss='modal',ladda='loading') Cancelar
        button.btn.btn-success(type='submit',ladda='loading') Guardar