body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.box {
  width: 50%;
  margin: 1em auto;
  text-align: center;
}
.btn-register {
  padding: 1em 1em;
  font-size: 3em;
}
